.scroll-to-top {
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 1000;
}

.scroll-button {
  background-color: #3d65f5;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.scroll-button:hover {
  background-color: #3356d3;
  transform: translateY(-5px);
}

.scroll-button svg {
  color: white;
  font-size: 20px;
}
